# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node
node_modules/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Java
target/
*.class

# VS Code
.vscode/

# Env
.env
.env.*